@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/* common shared items */
.heading-primary {
    color:  #151414;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
}
.paragraph-primary{
    color:  #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.btn-primary{
    border-radius: 5px;
    background: #2185e9;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 14px 24px;
    transition: background-color 0.5s ease;

}
.btn-primary:hover{
    background-color: yellow;
    color: darkgreen;
    cursor: pointer;
}

.banner-content {
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
}

.banner-texts {
    text-align: right;
    padding-top: 270px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    left: 400px;
}
.banner-texts h1{
    padding-bottom: 5px;
}
.banner-texts p{
    padding-bottom: 30px;
}