@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

/* common shared items */

.heading-primary {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.paragraph-primary {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.btn-primary {
    border-radius: 5px;
    background: #2185e9;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 14px 24px;
    transition: background-color 0.5s ease;

}

.btn-primary:hover {
    background-color: yellow;
    color: darkgreen;
    cursor: pointer;
}

.banner-content {
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    margin-bottom: 140px;
}

.banner-texts {
    text-align: right;
    padding-top: 270px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    left: 400px;
}


.banner-content .believe {
    border-radius: 5px;
    background-color: darkgreen;
    color: #fff;
    padding-right: 350px;
}

.banner-texts h1 {
    padding-bottom: 10px;
}

.banner-texts p {
    padding-bottom: 30px;
}

/* failures banner styles */
.failures-banner {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;

}

.failures-img {
    width: 500px;
    padding-right: 200px;

}

.failures-text * {
    width: 500px;
    text-align: left;
}

.failures-text h1 {
    margin-bottom: 26px;
}

.failures-text p {
    margin-bottom: 20px;
}

.failures-text ul {
    list-style: none;
}

/* my plans style */
.my-plans-container {
    background-color: rgba(203, 248, 203, 0.165);
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
}

.my-plans {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 140px;
}

.my-plans-container .hedaing-scondary {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
}

.my-plans img {
    padding-bottom: 20px;
}

.positive-banner-container {
    width: 70%;
    margin: 0 auto;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 140px;

}

.positive-banner-container .positive-content {
    width: 450px;
    margin-left: 70px;
    padding-top: 70px;
    align-items: center;
}

.positive-banner-container .positive-content h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 15px;

}

.positive-banner-container .positive-content button {
    background-color: red;
}

.positive-banner-container .positive-content button:hover {
    background-color: rgb(13, 230, 13);
    color: rgb(15, 15, 16);
}


.footer-banner {
    background-color: #151414;
    height: 577px;
    border-radius: 5px;
    color: white;
    padding-top: 130px;
    
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
}

.footer-banner .footer-content .content-right {
    width: 485px;
    text-align: left;
}

.footer-banner .footer-content .content-right h1 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

.footer-banner .footer-content .content-right p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 20px;

}
.footer-banner .footer-content .content-right .paragraph{
    padding-bottom: 30px;
}
.footer-banner .footer-content .content-right img{
    padding: 0 10px;
}
.footer-banner .footer-content .content-left h1{
    padding-bottom: 24px;

}

.footer-content form input{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    padding: 10px;
    outline: 1px solid white;
    background-color: #151414;
    color: white;

}
.footer-content button{
    margin: 20px 0;
}